<!DOCTYPE html>
<html>
  <head>
    <html lang="en">
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <title>Jibe</title>

     <!-- STYLESHEETS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
     <link rel="stylesheet" href="styles/styles.css">
     <link rel="shortcut icon" href="images/notepad.jpg">



     <!-- VENDOR SCRIPTS -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

     <!-- APPLICATION SCRIPTS -->
     <script src="scripts/app.js"></script>

  </head>

  <body>

<!-- header -->

  <div class="full-width-div" id="welcome">
    <h1 class="display-3">Welcome to Jibe</h1>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h4>Keep you & yours organized</h4>
    <div class="buttons">
      <!-- <button class="btn active" type="button">Create Account</button>
      <button class="btn active" type="button">Log In</button> -->
  </div>
  </div>


<!-- body and columns -->

<!-- list functionality -->

  <div class="row">
    <div class="col-md-12">
      <select id="listDropDown">
        <!-- //this is where allLists in db will populate on page load -->
      </select>
      <button id="ListBtn"> + </button>
      <div id="listModal" class="modal">
        <div class="modal-content">
          <span id="newListClose" class="closeList">&times;</span>
          <div>
            <a> Create a New List <br> Lists are where To Dos live </a>
            <form id="NewList" method="POST" action="api/lists">
              <input type="text required" placeholder="List Name" name="listName">
              <input type="submit">
            </form>
          </div>
        </div>
      </div>
    <div>
  <div>



<!-- list of to dos is below -->

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8 list">
          <h3 class="listheader">To Do Items<button id="toDoBtn"> + </button> </h3>
            <!-- Trigger/Open The Modal -->

          <ul id='todoList' >
         <!-- this is where to dos are added through jquery on load  -->
          </ul>
          <!-- to do modal -->
            <!-- The Modal -->
            <div id="myModal" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <span id="toDoClose" class="close">&times;</span>
                <div>
                  <a> Create a New To Do </a>
                  <form id="NewToDo" method="POST" action="api/todos">
                    <input type="text required" placeholder="To Do" name="description">
                    <input type="submit">
                  </form>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-2"> </div>
    </div>
  </div>


<!-- footer -->

    <footer class="navbar-default">
      <div class="container-fluid">
        <span> beth witten // tucker bolding </span>
      </div>
    </footer>

  </body>
</html>
