<!DOCTYPE html>
<html>
  <head>
    <html lang="en">
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <title>Jibe</title>

     <!-- STYLESHEETS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
     <link rel="stylesheet" href="styles/styles.css">
     <link rel="shortcut icon" href="images/icon-checklist.jpg">
     <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


     <!-- VENDOR SCRIPTS -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

     <!-- APPLICATION SCRIPTS -->
     <script src="scripts/app.js"></script>

  </head>

  <body>

<!-- header -->

    <div class="full-width-div" id="welcome">
      <h1 class="display-3">Welcome to Jibe</h1>
      <h4>Keep you & yours organized</h4>
      <h5 id="loadText">Select a list from the dropdown to create and manage your to dos.</h5>
      <div class="buttons">
        <!-- <button class="btn active" type="button">Create Account</button>
        <button class="btn active" type="button">Log In</button> -->
      </div>
    </div>


<!-- body and columns -->

<!-- list of to dos is below -->
    <div class="container page-wrap">
        <div class="row">
          <div class="col-md-9 list" id="toDoBlock">
              <section id="todoHeader">
                <button id="toDoBtn" class = "hide"> + </button>
                <h3 id="todoListHeader"> All Open To Dos </h3>
              </section>
                  <ul id='todoList' >
                    <!-- this is where to dos are added through jquery on load  -->
                  </ul>
            <!-- to do modal -->
              <div id="myModal" class="modal">
                <!-- to do modal content -->
                <div class="modal-content">
                  <span id="toDoClose" class="close">&times;</span>
                  <div>
                    <a id="todoModalHeader"> Create a New To Do </a>
                    <form id="NewToDo" method="POST" action="api/todos">
                      <input type="text" placeholder="To Do" name="description" minLength="1" required>
                      <input type="hidden" name="_list" id="listIdInput" value=""</input>
                      <input type="submit">
                    </form>
                  </div>
                </div>
              </div>
          </div>

          <!-- list functionality -->
            <div class="col-md-3">
              <div class="list" id="listBlock">
                <h3 id="listHeader"> Lists </h3>
                <select id="listDropDown">
                  <!-- empty list option that is removed once list is selected -->
                  <option id="emptyList"> </option>
                  <!-- this is where list populate on page load -->
                </select>
                <!-- list modal -->
                  <div id="listModal" class="modal">
                    <div class="modal-content">
                      <span id="newListClose" class="closeList">&times;</span>
                        <!-- list modal content -->
                        <div>
                          <h3> List Manager </h3>
                          <h4>Here are your active lists: </h4>
                          <p id="activeLists"> </p>
                          <h4>Add a new list: </h4>
                          <form id="NewList" method="POST" action="api/lists">
                            <input type="text" placeholder="List Name" name="listName" minLength="1" required>
                            <input type="submit" value="Create List">
                          </form>
                        </div>
                    </div>
                  </div>
                  <button id="ListBtn"> . </button>
                </div>
              </div>
            </div>
          </div>

<!-- footer -->

    <div id="footer">
      <div class="container">
        <p class="text-muted">Made by Beth Witten & Tucker Bolding <a href="https://github.com/sf-wdi-41-homework/project-1-beth-tucker"><img src="/images/github.png"> </a></p>
      </div>
    </div>

  </body>
</html>
