body {
  font: 'Open Sans', sans-serif;
}

#welcome {
  font: 'Open Sans', sans-serif;
  background-color: #1A535C;
  height: 300px;
  text-align: center;
  color: #FFE66D;
  padding-top: 5%;
  margin-bottom: 20px;
  border-bottom: 1px solid #08171A;
}

h4 {
  font-weight: lighter;
  color: #4ECDC4;
}

.btn {
  background-color: #b0b8c4;
  color: #1A535C;
  margin: 20px 10px;
}

.btn:hover {
  background-color: #e6e8ed;
  color: #345995;
  margin: 20px 10px;
  border: 1px solid #08171A;
}

.list {
  border: 1px solid #08171A;
  background-color: #F7FFF7;
  border-radius: 10px;
}

.listheader {
  text-align: center;
  margin: 20px;
  border: 1px solid #08171A;
  border-radius: 10px;
  padding: 5px 5px;
  background-color: #4ECDC4
}

.listItem {
  list-style-type: none;
  padding: 10px;
  border: 1px solid #08171A;
  width: 200px;
  margin-bottom: 10px;
  margin-left: 20%;
  text-align: center;
  color: #1A535C;
  font-weight: bolder;
  background-color: #FFFAE4;
  border-radius: 10px;
}


footer {
  width: 100%;
  background-color: #1A535C;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid #08171A;
  color: #F7FFF7;
}
