

body {
  font: 'Open Sans', sans-serif;
  background: white;
  background-image:
    radial-gradient(#1A535C 8%, transparent 0),
    radial-gradient(#1A535C 8%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

#welcome {
  font: 'Open Sans', sans-serif;
  background-color: #1A535C;
  height: 250px;
  text-align: center;
  color: #FFE66D;
  padding-top: 5%;
  margin-bottom: 20px;
  border-bottom: 1px solid #08171A;
}

#listDropDown {
  margin-left: 87%;
  border: 1px solid #08171A;
}

h4 {
  font-weight: lighter;
  color: #4ECDC4;
}

button {
  float: right;
  background-color: #b0b8c4;
  color: #1A535C;
  border-radius: 25px;
  border: 1px solid #08171A;
  font-size: 20px;
}

.btn:hover {
  background-color: #e6e8ed;
  color: #345995;
  margin: 20px 10px;
  border: 1px solid #08171A;
}

.list {
  border: 1px solid #08171A;
  background-color: #F7FFF7;
  border-radius: 10px;
}

.listheader {
  text-align: center;
  margin: 20px;
  border: 1px solid #08171A;
  border-radius: 10px;
  padding: 5px 5px;
  background-color: #4ECDC4
}

.listItem {
  list-style-type: none;
  padding: 10px;
  border: 1px solid #08171A;
  width: 200px;
  margin-bottom: 10px;
  margin-left: 20%;
  text-align: center;
  color: #1A535C;
  font-weight: bolder;
  background-color: #FFFAE4;
  border-radius: 10px;
}


footer {
  width: 100%;
  background-color: #1A535C;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid #08171A;
  color: #F7FFF7;
}

/*Modal formatting*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*list item formatting*/



.strike {
  text-decoration: line-through;
  color: #27874A;
}
