#welcome {
  font: 'Open Sans', sans-serif;
  background-color: #345995;
  height: 400px;
  text-align: center;
  color: #EAC435;
  padding: 10%;
}

.btn {
  background-color: #b0b8c4;
  color: #535659;
  margin: 20px 10px;
}

.btn:hover {
  background-color: #e6e8ed;
  color: #4e8272;
  margin: 20px 10px;
}
